body {
  background-image: url("../images/background.gif");
  font-family: "Raleway", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}

a {
  color: yellow;
}
